/* Changed styling for all of the elements on the page */

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* changed display and positioning of main and header */

main {
  height: 100%;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

header {
  background-color:rgb(46, 48, 48);
  min-height: 80px;
  width: 100%;
  border-top: 2px solid rgb(0, 151, 205);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Adjusted sizing and color of elements on the left side of the header  */

.header-left {
  display: flex;
  justify-content: end;
  width: auto;
  background-color:rgb(0, 151, 205);
  min-height: 60px;
  padding-right: 10px;
}

/* Adjusted the look of name in the header */

#header-name {
  font-size: 60px;
  color: black;
  display: flex;
  background-color: rgb(0, 151, 205);
  justify-content: end;
}

/* Changed sizing of profile image in center of header */

.profile-img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  object-fit: cover;
}

/* Adjusted sizing and color of elements on the right side of the header  */

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 8px;
  margin-top: 0px;
  padding-right: 10px;
}

/* Added spacing to anchor tags (Inside footer and header) instead of individual selecting each anchor tag */

a {
  border-bottom: 3px solid;
  padding-bottom: 10px;
}

/* Re-sized the links within the header */

.links {
  color: rgb(42, 195, 250);
  font-size: 20px;
  margin-right: 30px;
  text-decoration: none;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* This lets the viewer know that when the hover over a project then they could click on the project (I would have used anchor tags if I made actually projects) */

.links:hover, .contact-links:hover {
  color: rgb(29, 72, 145);
  transform: scale(110%);
}

/* To notify viewer that they have clicked on the specific link */

.links:active, .contact-links:active {
  font-size: small;
}

/* Added cool background image for aesthetic purposes */

#background-img {
  background-image: url(./wallpapersden.com_boy-4k-cool-2021-hd-anime-art_1600x900.jpg);
  min-height: 420px;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: 90% 0;
  width: 100%;
  position: relative;
}

/* Added space to the bottom of the sub-header elements */
.sub-header {
  margin-bottom: 30px;
}

/* Changed sizing and color of greeting within the sub-header */

#greeting {
  color: black;
  background-color:rgb(0, 151, 205);
  height: 40px;
  font-size: 40px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  overflow: hidden;
}

/* Provided spacing for section titles */

#about-me, #work, #contact {
  height: 100px;
  width: 20%;
  font-size: 40px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  border-right: 6px solid rgb(0, 151, 205);
  color: rgb(0, 151, 205);
}

/* Changed the display of the container for the about me section so that elements are evenly spaced apart */

.about-me-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


#about-me-descr {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 110px;
  align-items: center;
  color: rgb(0, 151, 205);
}

/* Changed the display of the container for the work section so that elements are evenly spaced apart */

.my-work-container {
  display: flex;
  align-items: center;
  height: auto;
}

#work {
  height: 600px;
  margin-bottom: 30px;
}


/* Changed the display of the container for the projects section so that elements are evenly spaced apart */
.projects-container {
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Altered look of projects to bring in the viewers attention */

.project {
  margin-right: 20px;
  margin-bottom: 20px;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
  position: relative;
  color: rgb(46, 48, 48);
  filter: grayscale(80%);
  width: auto;
}

/* Altered look of projects to bring in the viewers attention when hovering over*/
.project:hover {
  filter: grayscale(0%);
  transform: scale(104%);
}

/* Altered size of displayed projects */

#project-led-wall, #project-calculator, #project-pastel-puzzle, #project-run-buddy {
  width: 40%;
  height: 150px;
  align-items: end;
  border: 4px solid rgb(0, 151, 205);
}

#project-surf-report {
  width: 82%;
  height: 250px;
  border: 4px solid rgb(0, 151, 205);
}

/* Added background image for projects*/

#project-surf-report {
  background-image: url(https://www.surfertoday.com/images/stories/night-surf.jpg);
}

#project-led-wall {
  background-image: url(https://cdn-prod.medicalnewstoday.com/content/images/articles/324/324888/blue-lights.jpg);
}

#project-calculator {
  background-image: url(https://media.istockphoto.com/id/1225817385/vector/glowing-neon-line-calculator-icon-isolated-on-brick-wall-background-accounting-symbol.jpg?s=170667a&w=0&k=20&c=ktELq9BDsSkYjSmkH6jTk-fJXWn9WhdV3RcMblK6cSY=);
}

#project-pastel-puzzle {
  background-image: url(https://t4.ftcdn.net/jpg/02/76/95/99/360_F_276959928_MzW1FMER5GDM51fsFgmzjcWHzTeP5UYI.jpg);
}

#project-run-buddy {
  background-image: url(https://i.pinimg.com/736x/6d/2a/d6/6d2ad6dff6b7cd4e8dd1723efc71ca8d.jpg);
}

/* Changed look and position of project name text */

#surf-report-text, #led-wall-text, #calculator-text, #pastel-puzzle-text, #run-buddy-text {
  background-color: rgb(0, 151, 205);
  position: absolute;
  bottom: 10px;
  width: 150px;
  height: 50px;
}

/* Changed the display of the container for the contact section so that elements are evenly spaced apart */

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-links-container {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0px;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(0, 151, 205);
}

/* re-sized footer and changed color */

footer {
  top: 0;
  margin: 0;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-color: rgb(46, 48, 48);
  position: relative;
}



/* Changed styling bases on screen size */

@media screen and (max-width: 768px) {
  .main, .footer, .header {
    display: block;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding: none;
  }

  .header-right, .header-left, .about-me-container, .contact-info-container, .my-work-container, #contact, #work, #about-me, #about-me-descr {
    flex-direction: row;
    display: block;
    border-right: none;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  #about-me-descr, .links, .contact-links {
    display: block;
    width: auto;
    height: auto;
    padding: none;
    margin: none;
  }

  #greeting, #background-img {
    font-size: 24px;
    left: 0;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  img {
    display: none;
  }

  #project-led-wall, #project-calculator, #project-pastel-puzzle, #project-run-buddy, #project-surf-report {
    width: 95%;
    height: 150px;
    margin: 4px 2px;
    padding: none;
  }




}

@media screen and (max-width: 480px) {
.main, .footer, .header {
    display: block;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding: none;
  }

  .header-right, .header-left, .about-me-container, .contact-info-container, .my-work-container, #contact, #work, #about-me, #about-me-descr {
    flex-direction: row;
    display: block;
    border-right: none;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  #about-me-descr, .links, .contact-links {
    display: block;
    width: auto;
    height: auto;
    padding: none;
    margin: none;
  }

  #greeting, #background-img {
    font-size: 24px;
    left: 0;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  img {
    display: none;
  }

  #project-led-wall, #project-calculator, #project-pastel-puzzle, #project-run-buddy, #project-surf-report {
    width: 95%;
    height: 150px;
    margin: 4px 2px;
    padding: none;
  }





}



